/* Global Style */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0a0d1a;
    color: #f4f4f4;
    margin: 0;
    overflow: auto;
}

h1, h2, h3 {
    color: #00BFFF; /* Azul */
    text-shadow: 0px 0px 10px #fff;
}

p, li {
    color: #c3c3c3;
}

a {
    color: #00BFFF; /* Azul */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Welcome Screen */
#welcome-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('../images/crystal_background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-message {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #f4f4f4;
}

#enter-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #00BFFF;
    color: #B0E0E6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

#enter-btn:hover {
    background-color: #00BFFF;
}

/* Content Section */
#content {
    display: none;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 200px;
}

/* Rules and Guidelines Sections */
section {
    margin-bottom: 40px;
    opacity: 0; /* Initially hide sections */
    transition: opacity 0.5s ease; /* Transition for visibility */
}

h2 {
    border-bottom: 2px solid #00BFFF;
    padding-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    text-align: center; /* Centra el contenido horizontalmente */
    padding: 20px;
    background: #1f1f2e; /* Color de fondo */
    color: #fff;
    font-size: 12px; /* Tamaño del texto */
}
